<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<style>
		p{
			color: red;
		}
	</style>
	<title>{{pageTitle}}</title>
</head>
<body>
  {{> Header}}
	<h1>About Page</h1>
<!--	<p>{{welcomeMessage}}</p> -->
	<p>Some Text Here to Show for about page</p>
	{{> footer}}  <!-- Injecting the partials named as footer-->
</body>
</html>
