<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<style>
		p{
			color: red;
		}
	</style>
	<title>Maintenance</title>
</head>
<body>
	<h1><u>Maintenance Page</u></h1>
	<p>This site is under Maintenance Plzz,<br>Our Developer working HArd on it.</p>
</body>
</html>
